<clr-main-container>
  <app-navbar></app-navbar>
  <div class="color-red">
    <div class="container">
      <div class="error-box section-space">
        <div class="error-top-wrapper">
          <img src="../../assets/img/404.png" class="img-responsive" alt="404">
          <div class="error-bottom-item">
            <p>Page Not Found .That Page Doesn't Exist!</p>
            <a class="btn btn-primary" [routerLink]="['/home']">Back to home</a>
          </div>

        </div>

      </div>

    </div>

  </div>






</clr-main-container>
