@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800');
$font-family: 'Lato', sans-serif;
// Font Bold
.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.text-center {
  text-align: center !important
}
