/* ---------------------- Footer AREA ---------------------- */

footer a,
footer a:hover,
footer a:focus {
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  text-decoration: none;
  outline: none;
  color: #000000;
  font-weight: 400;
}

.footer_area {
  background-color: $white;
  padding: 100px 0 50px;
  a:link {
    color: $dark !important;
  }
  .footer_content>p {
    font-size: 15px;
    color: $dark;
  }
  .footer_content>p:first-child {
    margin-bottom: 30px;
  }
}

.footer_social_area>a {
  display: inline-block;
  font-size: 26px;
  padding: 0 30px;
  &:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.footer_widget_menu a {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: capitalize;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  font-weight: 600;
  &:hover {
    margin-left: 5px;
    color: $default-color-3;
  }
  i {
    padding-right: 5px;
  }
}

.subscribtion_form {
  position: relative;
  z-index: 1;
  .mail {
    border: none;
    border-radius: 0;
    font-size: 12px;
    height: 50px;
    padding: 5px 15px;
    width: 100%;
    background-color: $default-color-5;
    color: $dark;
    font-style: italic;
  }
  .submit {
    background-color: $dark;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0 30px;
    font-weight: 700;
    &:hover {
      background-color: $default-color-2;
      color: #fff;
    }
  }
}




