@import 'varibles';
.mt-0 {
  margin-top: 0px;
}

.mt--20 {
  margin-top: -20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-100 {
  margin-bottom: 100px;
} 

// Borders
.box-border:hover {
  box-shadow: inset 0 0 0 25px $default-color-4;
}
.box-border2:hover {
  box-shadow: inset 0 0 0 25px $white;
}
