

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_footer_area {
    margin-bottom: 100px;
  }
  
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  
    
  
  .footer_bottom_area {
    margin-bottom: 100px;
  }
  .footer_social_area>a {
    font-size: 18px;
    padding: 0 15px;
  }
  .subscribtion_form .submit {
    padding: 0 20px;
  }
  .block-area .question_block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%;
    
    background-color: #b8b8b8;
    text-align: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
  
}


