// Theme Colors Overwrite

//navbar
.header.header-6 {
    background-color: $default-color-1;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* -- Welcome Section */

.single_img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
    
}

.welcome_slide_text {
  position: relative;
  z-index: 1;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important
}

.welcome_slide_img > h2 {
  font-size: 92px;
  letter-spacing: 0;
  margin-left: -5px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
}

.welcome_slide_img h6 {
  color: $white;
  font-size: 14px;
  margin-bottom: 5px;
}



/* Custom Heights */



.welcome_slide_img .btn.btn-primary {
  margin-left: 1960px;
}

.welcome_slide_img img {
  margin-left: 40px;
  margin-top: -150px;
}



.d-md-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important
}


.line {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 30px 0;
}


.scroll-to-top {
  background-color: $dark;
  color: $white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  transition: all 2s ease-in-out;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  z-index: 100;

}

.show-scroll {
  opacity: .5;
  transition: all .2s ease-in-out;
}


.login-wrapper {
  background-image: url("assets/img/login.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right center;
}

