// https://coolors.co/01b1c9-3dccc7-68d8d6-9ceaef-c4fff9
$default-color-1: #01B1C9 !default;
$default-color-2: #3DCCC7 !default;
$default-color-3: #68D8D6 !default;
$default-color-4: #9CEAEF !default;
$default-color-5: #C4FFF9 !default;
$default-color-6: #e6fdfb !default;


$white: #fff !default;
$dark: #3a3a3a !default;
$bg: #fbfbfb !default;
$dark-blue: #16284b !default;


$pininterest: #C92228 !default;
$facebook: #385797 !default;
$twitter: #03ABEA !default;
$linkedin: #0077B5 !default;
