<clr-main-container>
    <app-navbar></app-navbar>
    <div class="wrapper">
      <div class="page-header clear-filter" filter-color="dark">
        <div class="page-header-image" style="background-image: url('assets/img/header.jpg')">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/ptinsurance.png" alt="">
                <h1 class="h1-seo">Register today.</h1>
                <h3><a [routerLink]="['/register']" class="btn btn-primary">Register</a></h3>
            </div>
            
        </div>

      </div>

    </div>

</clr-main-container>

  