<clr-main-container>
  <app-navbar></app-navbar>

  <section class="welcome_area">
    <div class="welcome_slides owl-carousel">
      <div class="single_slide height-800 bg-img  background-overlay" style="background-image: url(assets/img/header.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome_slide_img">

                <div [@fadeInDown]="{value: fadeInDown, params: {timing: 1}}">
                  <img class="" src="assets/img/logo.png">
                </div>
                <button [@fadeInUp]="{value: slideInLeft, params: {timing: 2}}" class="btn custom-btn2">Sign Up!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="promo2">
        <h1>Stuff to go here</h1>
        <h6>[todo]</h6>
      </div>
    </div>
  </section>
  <!-- ****** Block Area ****** -->
  <section>
    <div class="row block-area">
      <div class="block effect col-lg col-md col-sm">
        <img src="assets/img/covered/cover1.png">
        
      </div>
      <!-- Single Discount Area -->
      <div class="block effect box-border2 col-lg col-md col-sm">
          <img src="assets/img/covered/cover2.png">
      </div>
      <!-- Single Discount Area -->
      <div class="block effect col-lg col-md col-sm ">
          <img src="assets/img/covered/cover3.png">
      </div>
      <div class="block effect box-border2 col-lg col-md col-sm">
          <img src="assets/img/covered/cover4.png">
      </div>
      <div class="block effect col-lg col-md col-sm">
          <img src="assets/img/covered/cover5.png">
      </div>
      <div class="block effect box-border2 col-lg col-md col-sm">
          <img src="assets/img/covered/cover6.png">
      </div>
    </div>
    
  </section>
  <!-- ****** Top Discount Area End ****** -->

  <!-- ****** Top Catagory Area Start ****** -->
  <section class="top_catagory_area">
    <div class="row flex-items-lg-middle">
      <div class="single_catagory_area box-border bg-img" style="background-image: url(assets/img/sliders/bg-2.jpg);">
        <div class="catagory-content">
          <h6>On Accesories</h6>
          <h2>Sale 30%</h2>
          <a href="#" class="btn custom-btn2">SHOP NOW</a>
        </div>
      </div>
      <!-- Single Catagory -->
      <div class="single_catagory_area box-border bg-img" style="background-image: url(assets/img/sliders/bg-3.jpg);">
        <div class="catagory-content">
          <h6>in Bags excepting the new collection</h6>
          <h2>Designer bags</h2>
          <a href="#" class="btn custom-btn2">SHOP NOW</a>
        </div>
      </div>

    </div>
    <!-- Single Catagory -->

  </section>
  <section>

    <div class="promo">
      <h1>Stuff to go here</h1>
      <p>Paragraph to go here</p>
    </div>
  </section>
  <!-- Footer -->
  <app-footer [@slideInLeft]="{value: slideInLeft, params: {timing: 1}}"></app-footer>
  <div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
    <div (click)="scrollToTop()" class="text-center">
      <clr-icon shape="angle" size="36px"></clr-icon>

    </div>


  </div>

</clr-main-container>
