<!-- ****** Footer Area Start ****** -->
<footer class="footer_area">
  <div class="container">
    <div class="row flex-items-lg-center">
      
      <div class="col-sm col-md col-lg">
        <div class="single_footer_area">
          <ul class="footer_widget_menu">
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Faq</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            
          </ul>
        </div>
      </div>

      
      <div class="col-sm col-md col-lg">
        <div class="single_footer_area">
          <ul class="footer_widget_menu">
            <li>
              <a href="#">Login</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
            <li>
              <a href="#">Our Policies</a>
            </li>
            
          </ul>
        </div>
      </div>

     
      <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="single_footer_area">
          <div class="footer_heading mt--20">
            <h6>Subscribe to our newsletter</h6>
          </div>
          <div class="subscribtion_form">
            <form action="#" method="post">
              <input type="email" name="mail" class="mail" placeholder="Your email here">
              <button type="submit" class="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="line"></div>
    <div class="footer_bottom_area">
      <div class="row flex-items-xs-center">
        <div class="col-12">
          <div class="footer_social_area ">
            <a href="#">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>